{{> organisms-navbar }}

<main>
  {{> organisms-hero }}
  <section>
    {{# eventsModule }}
        {{> molecules-event }}
        {{> molecules-events-list }}
    {{/ eventsModule }}
  </section>
</main>
